SlackClient/SlackClient/Connected Services/SlackService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlackService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlackService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="groups" nillable="true" type="tns:ArrayOfUGroup" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UGroup" nillable="true" type="tns:UGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUGroup" nillable="true" type="tns:ArrayOfUGroup" />
  <xs:complexType name="UGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="channels" nillable="true" type="tns:ArrayOfUChannels" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UGroup" nillable="true" type="tns:UGroup" />
  <xs:complexType name="ArrayOfUChannels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UChannels" nillable="true" type="tns:UChannels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUChannels" nillable="true" type="tns:ArrayOfUChannels" />
  <xs:complexType name="UChannels">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="group" nillable="true" type="tns:UGroup" />
      <xs:element minOccurs="0" name="isPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="messages" nillable="true" type="tns:ArrayOfUMessage" />
      <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UChannels" nillable="true" type="tns:UChannels" />
  <xs:complexType name="ArrayOfUMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UMessage" nillable="true" type="tns:UMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUMessage" nillable="true" type="tns:ArrayOfUMessage" />
  <xs:complexType name="UMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MesssageDecription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="tns:UChannels" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UMessage" nillable="true" type="tns:UMessage" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>