SlackClient/SlackClient/Connected Services/SlackService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlackService.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="usr" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="usr" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="uGroup" nillable="true" type="q3:UGroup" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="user" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="uChannels" nillable="true" type="q5:UChannels" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="ugroup" nillable="true" type="q6:UGroup" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="message" nillable="true" type="q8:UMessage" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="channels" nillable="true" type="q9:UChannels" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="user" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="u" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="GetUGroupsResult" nillable="true" type="q12:ArrayOfUGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="g" nillable="true" type="q13:UGroup" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="u" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="GetUChannelsResult" nillable="true" type="q15:ArrayOfUChannels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="channels" nillable="true" type="q16:UChannels" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="user" nillable="true" type="q17:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SlackService.Model" minOccurs="0" name="GetUMessagesResult" nillable="true" type="q18:ArrayOfUMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>